[submodule "SCREEN-CONTROLLER"]
	path = SCREEN-CONTROLLER
	url = https://github.com/felipegaspari/DCO3-MONOSYNTH-SCREEN-CONTROLLER.git
	branch = improvements-color-screen
[submodule "INPUT-CONTROLLER"]
	path = INPUT-CONTROLLER
	url = https://github.com/felipegaspari/DCO3-MONOSYNTH-INPUT-CONTROLLER.git
	branch = main
[submodule "DCO"]
	path = DCO
	url = https://github.com/felipegaspari/DCO3-MONOSYNTH-DCO.git
	branch = improvements
[submodule "Mainboard"]
	path = _archived/Mainboard
	url = https://github.com/felipegaspari/DCO4_Mainboard_Controller.git
	branch = improvements
[submodule "DCO_Noise"]
	path = DCO_Noise
	url = https://github.com/felipegaspari/DCO_Noise.git
	branch = main
[submodule "VOICE-AUX"]
	path = VOICE-AUX
	url = https://github.com/felipegaspari/DCO3-MONOSYNTH-VOICE-AUX.git
	branch = main
[submodule "MD_REncoder_FELA"]
	path = MD_REncoder_FELA
	url = https://github.com/felipegaspari/MD_REncoder_FELA.git
[submodule "CD74HC4067_FELA"]
	path = CD74HC4067_FELA
	url = https://github.com/felipegaspari/CD74HC4067_FELA.git
[submodule "RoxMux_FELA"]
	path = RoxMux_FELA
	url = https://github.com/felipegaspari/RoxMux_FELA.git
[submodule "DCO-CONTROL-PANEL"]
	path = DCO-CONTROL-PANEL
	url = https://github.com/felipegaspari/DCO-CONTROL-PANEL.git
	branch = main
[submodule "DCO-PROTOCOL"]
	path = DCO-PROTOCOL
	url = https://github.com/felipegaspari/DCO-PROTOCOL.git
	branch = main
